<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Comments</h1>
    <a href="/new_c">Create New Comment</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Comment ID</th>
            <th>Text</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${listComment}">
            <td th:text="${comment.id}">Comment ID</td>
            <td th:text="${comment.commentText}">Text</td>
            <td th:text="${comment.getUserName()}">User</td>

            <td>
                <!--<a th:href="/@{'/edit/' + ${comment.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;-->
                <a th:href="@{'/delete_c/' + ${comment.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>