<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3-1.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3.css">
    <link rel="stylesheet" href="assets/css/Comment.css">
    <link rel="stylesheet" href="assets/css/Custom-File-Upload.css">
    <link rel="stylesheet" href="assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="assets/css/User-rating.css">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(254,9,9);opacity: 1;background: linear-gradient(rgb(119,63,63) 10%, rgb(146,94,49) 51%, rgb(211,168,15) 100%), linear-gradient(black, white);">
    <div class="container"><a class="navbar-brand logo" th:href="@{/homepage}" style="color: rgb(255,255,255);background: linear-gradient(rgb(198,164,44), rgb(186,170,91)), #983b3b;font-size: 30px;width: 180px;padding: 13px;">Rate My Fit</a><button data-toggle="collapse" class="navbar-toggler"
                                                                                                                                                                                                                                                         data-target="#navbarNav" style="color: rgb(255,0,0);"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav" style="background: linear-gradient(rgb(190,176,53) 55%, rgb(177,158,56)), #8c3131;font-size: 20px;padding: 13px;margin: 2px;">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" th:href="@{/homepage}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/all_fits}">All Fits</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/my_fit}">My Fit</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/find_comments}">Ratings / Comments</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li></ul>

            <a th:href="@{/register}"><button class="btn btn-primary" type="button">Register</button></a>
            &nbsp;
            <a th:href="@{/login}"><button class="btn btn-primary" type="button">Login</button></a></div>

    </div>

</nav>
    <main class="page project-page">
        <section class="portfolio-block project" style="background: #ddb44c;"><img class="d-xl-flex flex-row align-items-center align-content-center align-self-center mx-auto"><div class="container"></div>
	            <h3>Post description</h3>
            <tr th:each="pinwallentry : ${listPinwallentry}">
                <td th:text="${pinwallentry.id}"></td>
                <td th:text="${pinwallentry.wallentry}"></td>
                <td> <img th:src="@{${pinwallentry.outfitImagePath}}" style="width: 100px"></td>
                <td th:text="${#dates.format(pinwallentry.postOn, 'dd-MMM-yyyy')}"></td>
                </tr>



<form>
	<div class="card">
	    <div class="card-body">
	        <div class="row">
                <div th:each="comment : ${listComment}" class="item">
        	    <div class="col-md-2">
        	        <p class="text-secondary text-center" th:text="${comment.getCreatedDate()}"></p>
        	    </div>

        	        <p>
        	            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong th:text="${comment.getUserName()}"></strongth:text></strong></a>
                   </p>

        	       <div class="clearfix"></div>
        	        <p th:text="${comment.getCommentText()}"></p>

        	    </div>
	        </div>
        </div>
    </div>
</form>



<div th:each="pinwallentry : ${listPinwallentry}">
<form th:action="@{'/save_c/' + ${pinwallentry.id}}" th:object="${comment}"
            method="post" enctype="multipart/form-data">
<div class="card text-white bg-primary mb-1">
  <div class="card-header">
      UserName
      <a class="float-right btn btn-dark"> <i class="fa fa-comment"></i> Comment</a>
  </div>
  <div class="card-body">
      <div class=" card-text form-group">
          <textarea placeholder="Message" rows="4"
                    class="form-control form-control-lg">
          </textarea>
          <div class="row">
              <button class="btn btn-primary" type="button">Submit</button>
          </div>
      </div>
 
  </div>
</div>
</form>
</div>
        </section>
        </form>
            </div>

            <div th:each="pinwallentry : ${listPinwallentry}">
            <form th:action="@{'/save_r/' + ${pinwallentry.id}}" th:object="${rating}"
      method="post" enctype="multipart/form-data">
<input type="number" min = 1 max = 5 class="form-control-lg" />
 
        <div class="row">
            <button class="btn btn-primary" type="button">Submit</button>
        </div>

</form>
        </div>


        <div>
            <a th:text="${rating.getAverageRating()}"></a>

        </div>


<div class="user-body"><span class="heading">User Rating</span>
    <p>4.1 average based on 254 reviews.</p>
    <hr style="border:3px solid #f1f1f1" />
    <div class="rg-row">
        <div class="side">
            <div>
                <p>5 star</p>
            </div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-5"></div>
            </div>
        </div>
        <div class="side right">
            <div>
                <p>150</p>
            </div>
        </div>
        <div class="side">
            <div>
                <p>4 star</p>
            </div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-4"></div>
            </div>
        </div>
        <div class="side right">
            <div>
                <p>63</p>
            </div>
        </div>
        <div class="side">
            <div>
                <p>3 star</p>
            </div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-3"></div>
            </div>
        </div>
        <div class="side right">
            <div>
                <p>15</p>
            </div>
        </div>
        <div class="side">
            <div>
                <p>2 star</p>
            </div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-2"></div>
            </div>
        </div>
        <div class="side right">
            <div>
                <p>6</p>
            </div>
        </div>
        <div class="side">
            <div>
                <p>1 star</p>
            </div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-1"></div>
            </div>
        </div>
        <div class="side right">
            <div>
                <p>20</p>
            </div>
        </div>
    </div>
</div>
    </main>
<footer class="page-footer" style="background: rgb(231,190,85);">
    <div class="container">
        <div class="links"><a th:href="@{/about_us}" >About Us</a><a th:href="@{/contact_us}">Contact Us</a> </div>
        <div class="social-icons"><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-facebook"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-instagram-outline"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Custom-File-Upload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
