<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3-1.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3.css">
    <link rel="stylesheet" href="assets/css/Custom-File-Upload.css">
    <link rel="stylesheet" href="assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="assets/css/User-rating.css">
<link rel="stylesheet" href="C:\Users\gazme\Desktop\Internet Technology Project - Rate My Fit\Background_CSS_Code.css" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(254,9,9);opacity: 1;background: linear-gradient(rgb(119,63,63) 10%, rgb(146,94,49) 51%, rgb(211,168,15) 100%), linear-gradient(black, white);">
        <div class="container"><a class="navbar-brand logo" href="MainPage.html" style="color: rgb(255,255,255);background: linear-gradient(rgb(198,164,44), rgb(186,170,91)), #983b3b;font-size: 30px;width: 180px;padding: 13px;">Rate My Fit</a><button class="navbar-toggler" data-toggle="collapse" style="color: rgb(255,0,0);"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarNav" style="background: linear-gradient(rgb(190,176,53) 55%, rgb(177,158,56)), #8c3131;font-size: 20px;padding: 13px;margin: 2px;">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="MainPage.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="AllFits.html">All Fits</a></li>
        <li class="nav-item"><a class="nav-link" href="MyFit.html">My Fit</a></li>
        <li class="nav-item"><a class="nav-link" href="MyRatingsandComments.html">Ratings / Comments</a></li>
        <li class="nav-item"><a class="nav-link" href="Settings.html">Settings</a></li>
    </ul><button class="btn btn-primary" type="button">Register</button><button class="btn btn-primary ml-md-auto" type="button">Login</button>
</div></div>
    </nav>
    <main class="page project-page">
        <section class="portfolio-block project" style="background: #ddb44c;">
            <div class="container">
                <div class="heading">
                    <h2>Rate My fit post</h2>
                </div>
                <div class="image" style="background: url(&quot;assets/img/tech/4cc6337ff72d4e61a018f26c778d3a3f.jpg&quot;);height: 1734px;"></div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-1 info">
                        <h3>Post description</h3>
                        <tr th:each="pinwallentry : ${listPinwallentry}">
                            <td th:text="${pinwallentry.id}"></td>
                            <td th:text="${pinwallentry.wallentry}"></td>
                            <td> <img th:src="@{${pinwallentry.outfitImagePath}}" style="width: 100px"></td>
                            <td th:text="${#dates.format(pinwallentry.postOn, 'dd-MMM-yyyy')}"></td>

                            <td></td>
                            <form
                                    th:action="@{'/save_c/' + ${pinwallentry.id}}" th:object="${comment}"
                                    method="post" enctype="multipart/form-data">
                                <div style="width: 200px;">
                                    <div class="text-center"></div>
                                    <div class="text-center mt-2"></div>
                                </div>

                                <input type="text" th:field="*{commentText}" />

                                <a tcolspan="2"><button type="submit">Submit Post</button></a>
                            </form>

                            <!--<form th:object="${comment}" > <div class="form-group"><label>Street</label>
                                <input class="form-control item" required minlength="2" maxlength="30" input type="streetName" th:field="*{commentText}"
                                       style="border-width: 2px;border-color: var(&#45;&#45;dark);"> </div> </form>
                            <a th:href="@{'/save_c/' + ${pinwallentry.id}}"><button class="btn btn-primary" type="button">Comment</button></a></div>
-->
                        </tr>

                    </div>

                    <tr th:each="comment : ${listComment}">
                        <td th:text="${comment.getUserName()}"></td>
                        <td th:text="${comment.getCommentText()}"></td>
                    </tr>




                    <p></p>
                        <div class="user-body"><span class="heading">User Rating</span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
                            <p>4.1 average based on 254 reviews.</p>
                            <hr style="border:3px solid #f1f1f1">
                            <div class="rg-row">
                                <div class="side">
                                    <div>
                                        <p>5 star</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-5"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <p>150</p>
                                    </div>
                                </div>
                                <div class="side">
                                    <div>
                                        <p>4 star</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-4"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <p>63</p>
                                    </div>
                                </div>
                                <div class="side">
                                    <div>
                                        <p>3 star</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-3"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <p>15</p>
                                    </div>
                                </div>
                                <div class="side">
                                    <div>
                                        <p>2 star</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-2"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="side">
                                    <div>
                                        <p>1 star</p>
                                    </div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                        <div class="bar-1"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>
                                        <p>20</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 offset-md-1 meta">
                        <div class="tags"><span class="meta-heading">Tags</span><a href="#"></a><a href="#">Nike</a><span class="meta-heading">Date</span><span>25-04-2017</span></div>
                    </div>
                </div>
                <div class="more-projects">
                    <div class="row gallery">
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"></a></div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item"><a href="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer" style="background: rgb(231,190,85);">
        <div class="container">
            <div class="links"><a href="About%20Us.html">About Us</a><a href="Contact%20Us.html">Contact Us / Feedback</a></div>
            <div class="social-icons"><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-facebook"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-instagram-outline"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Custom-File-Upload.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>