<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org" style="background: #ead56a;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RateMyFit - Upload Your Fit</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="assets/css/FontAwesome.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3-1.css">
    <link rel="stylesheet" href="assets/css/animated-textbox3.css">
    <link rel="stylesheet" href="assets/css/Custom-File-Upload.css">
    <link rel="stylesheet" href="assets/css/Drag-Drop-File-Input-Upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/User-Rating-F19690.css">
    <link rel="stylesheet" href="assets/css/User-rating.css">
    <link rel="stylesheet" href="C:\Users\gazme\Desktop\Internet Technology Project - Rate My Fit\Background_CSS_Code.css" />
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="color: rgb(254,9,9);opacity: 1;background: linear-gradient(rgb(119,63,63) 10%, rgb(146,94,49) 51%, rgb(211,168,15) 100%), linear-gradient(black, white);">
    <div class="container"><a class="navbar-brand logo" th:href="@{/homepage}" style="color: rgb(255,255,255);background: linear-gradient(rgb(198,164,44), rgb(186,170,91)), #983b3b;font-size: 30px;width: 180px;padding: 13px;">Rate My Fit</a><button class="navbar-toggler" data-toggle="collapse" style="color: rgb(255,0,0);"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><div class="collapse navbar-collapse" id="navbarNav" style="background: linear-gradient(rgb(190,176,53) 55%, rgb(177,158,56)), #8c3131;font-size: 20px;padding: 13px;margin: 2px;">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" th:href="@{/homepage}">Home</a></li>
            <li class="nav-item"><a class="nav-link active" th:href="@{/all_fits}">All Fits</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/my_fit}">My Fit</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/find_comments}">Ratings / Comments</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li></ul>

        <a th:href="@{/register}"><button class="btn btn-primary" type="button">Register</button></a>
        &nbsp;
        <a th:href="@{/login}"><button class="btn btn-primary" type="button">Login</button></a></div>

    </div></div>
</nav>
<main class="page projects-page">
    <section class="align-items-center align-content-center align-self-center portfolio-block projects-with-sidebar" style="background: #e7bc4c;">
        <div class="container">
            <div class="heading">
                <h2>Upload your fit</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled sidebar">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <tr>
                        <img id="thumbnail" alt="Picture Preview" height=500 width=300/>
                    </tr>

                </div>
                <div class="col">

                    <!-- WIchtig in form -> save und enctype=multipart, method post-->
                    <form

                            th:action="@{/save}" th:object="${pinwallentry}"
                            method="post" enctype="multipart/form-data">
                        <div style="width: 200px;">
                            <label>Enter Description:</label><br><br>
                            <div class="text-center"></div>
                            <div class="text-center mt-2"></div>
                        </div>

                        <!-- Input für Post Text  -->
                        <input type="text" placeholder="Description of your post" th:field="*{wallentry}" />
                        <!--<input  type="text" th:field="*{wallentry}" class="form-control-plaintext"
                                value="Description" readnonly="">-->
                        <div class="form-group files color"><input type="file" name="imageFile" id="imageFile"></div>

                        <!-- Submit Button  -->

                        <a tcolspan="2"><button class="btn btn-primary" button type="submit">Submit Post </button></a>
                    </form>


                </div>
            </div>
        </div>

    </section>
</main>
<footer class="page-footer" style="background: rgb(231,190,85);">
    <div class="container">
        <div class="links"><a th:href="@{/about_us}">About Us</a><a th:href="@{/contact_us}">Contact Us</a></div>
        <div class="social-icons"><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-facebook"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-instagram-outline"></i></a><a href="#" style="background: rgb(0,0,0);"><i class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>
<script src="assets/js/Custom-File-Upload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/theme.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>


<script type="text/javascript">
    $(document).ready(function(){

        $('#imageFile').change(function(){
            showImageThumbnail(this);
        });

    });

    function showImageThumbnail(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $('#thumbnail').attr('src', e.target.result);
        };

        reader.readAsDataURL(file);
    }



</script>

</html>